body,ul,ol,dl,dd,dt,li,a,h1,h2,h3,h4,h5,h6,table,tr,td,th,textarea,input,button,select,p{ padding:0; margin:0;}
ul,li{ list-style:none;}
img{ border:0;}
body{ font-size:12px; font-family:"Microsoft Yahei";-webkit-text-size-adjust:none; background-color:#e9e9e9;}
a,u{ text-decoration:none;}
i,em{ font-style:normal;}
b,strong,h1,h2,h3,h4{ font-weight:normal;}
input{border: none;outline: none;}















